.btn-component {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 320px;
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 1rem;

  &:first-child .btn-component-min {
    font-weight: normal;
  }
  &:nth-child(2) {
    margin-bottom: 0.5rem;
  }

  &__sign-modal {
    margin-top: 44px !important;
    width: 400px !important;
    margin: 0 auto !important;
  }
  
  &-min {
      margin-left: 0.3rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: bold;
      font-size: 15px;
  }

  &__icon {
      height: 20px;
  }
}

.btn {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 320px;
  height: 40px;
  padding: 0 16px;
  border-radius: 22px;
  justify-content: center;
}

