.modules-navigation {
    position: sticky;
    top: 0;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 20px 0 0;

    &__svg {
        height: 45px;
        fill: white;
        margin-bottom: 20px;
    }

    &__btn-twit {
        width: 100%;
    }
  
}