.home {
	display: flex;
	justify-content: center;
	position: relative;
	color: white;
	background-color: #000;
	

	&__posts {
		height: 1800px;
		width: 800px;
		border-right: 1px solid grey;
		border-left: 1px solid grey;
		padding-top: 50px;

		.status {
			display: grid;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			gap: 0px;
			height: 10%;

			&-title {
				grid-row-start: 1;
				grid-column-start: 1;
				grid-row-end: 2;
				grid-column-end: 6;
				border-bottom: 1px solid grey;
			}

			&__img-wrapper {
				grid-row-start: 2;
				grid-column-start: 1;
				grid-row-end: 4;
				grid-column-end: 2;
				border-bottom: 1px solid grey;
				border-right: 1px solid grey;
			}

			&__input {
				grid-row-start: 2;
				grid-column-start: 2;
				grid-row-end: 4;
				grid-column-end: 6;
				border-bottom: 1px solid grey;
			}

			&__icon {
				grid-row-start: 4;
				grid-column-start: 1;
				grid-row-end: 5;
				grid-column-end: 6;
				border-bottom: 1px solid grey;
			}
		}
	}

	&__aside {
		height: 600px;
		width: 300px;
		border-right: 1px solid grey;
		border-bottom: 1px solid grey;
		padding-top: 50px;
	}
}