.btn-component__sign-modal {
  border: 1px solid rgb(83, 100, 113);
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  cursor: pointer;
  outline-style: none;
  width: 300px;
  height: 40px;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgb(29, 155, 240);
  transition: .3s;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(29, 155, 240, 0.1) 50%) right;
  background-size: 200%;
  transition: .5s ease-out;

  &:hover {
    background-position: left;
  }
}